.main-bg-color {
  background: red;
  background-size: cover;
  background-size: cover;
}

.card {
  margin-bottom: 1.875rem;
  border: none;
  box-shadow: 0px 1px 15px 1px rgb(62 57 107 / 7%);
}
.pull-up {
  transition: all 0.25s ease;
}
.pull-up:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 14px 24px rgb(62 57 107 / 20%);
  z-index: 30;
}
.bg_white {
  background: #ffffff !important;
}

.white-box {
  background: #fff;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 1px 7px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
}

.form-control {
  height: 52px;
  border: 2px solid rgb(32 32 32 / 0.3);
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  background-color: transparent !important;
}
label.form-lbl {
  margin-bottom: 0;
}

/*-----------------------------------------------
        :: Login signup Start
    ------------------------------------------------*/
.form-login {
  box-shadow: 0px 2px 30px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.login-other a {
  color: #b18438;
}
.box-otp,
.hide-box-login {
  display: none;
}
.show-box-otp {
  display: block;
}
.password_eye {
  position: relative;
}
.icon-view {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #202020;
  font-size: 18px;
}
.Fild-box-Error {
  position: relative;
}
.Fild-box-Error input {
  border: 2px solid rgb(255 0 0);
}
.Fild-box-Error .Fild-Error {
  color: red;
  position: absolute;
  bottom: -18px;
  font-size: 13px;
  left: 1px;
  font-weight: 500;
}
.form-login a {
  color: var(--main-background_active);
}

.date-icon {
  position: relative;
}
.date-icon i,
.time-icon i {
  position: absolute;
  bottom: 17px;
  right: 10px;
}

/*-----------------------------------------------
                Dashboard start
    ------------------------------------------------*/
.nav-link svg {
  fill: #fff;
  margin-right: 5px;
  width: 20px;
}

/* pricing css Style */
.pricing-area {
  position: relative;
}
.pricing-area .pricing-table {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -webkit-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  padding: 30px 40px;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 5px;
}
.pricing-area .pricing-table:hover {
  border-color: var(--main-background_active);
  transform: translateY(-10px);
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
}
.pricing-area .pricing-inner-table h2 {
  color: var(--main-background_active);
  margin-bottom: 3px;
  font-weight: 600;
}
.pricing-area .pricing-details {
  margin-top: 35px;
  padding-top: 28px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
  text-align: left;
}
.pricing-area .pricing-details ul li {
  padding: 5px 0 5px 30px;
  position: relative;
  color: #606060;
}
.pricing-area .pricing-details ul li:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: var(--main-background_active);
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.pricing-area .pricing-inner-table .button {
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -webkit-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
}
.pricing-area .Packages {
  display: none;
}
.pricing-area .showpackages {
  display: block;
}
.pricing-area .main-pricing {
  position: relative;
}
.pricing-area .main-pricing .selectpricing {
  display: inline-block;
  margin: 0 auto;
  background: #12192a;
  border-radius: 50px;
  padding: 5px 5px;
}
.pricing-area .selectpricing li {
  float: left;
  margin: 0 !important;
  padding: 0;
}
.pricing-area .selectpricing a {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  z-index: 9;
  color: #fff;
}
.pricing-area .selectpricing a.selectpricing_active:hover,
.pricing-area .selectpricing a.selectpricing_active:active,
.pricing-area .selectpricing a.selectpricing_active:focus {
  color: #fff;
}
.pricing-area .selectpricing_active:after {
  background: -webkit-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: -moz-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: -ms-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: -o-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: linear-gradient(to right, #ff512f 0%, #f09819 100%);
  height: 100%;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50px;
  z-index: -1;
}
.pricing-area .selectpricing_active {
  color: #fff;
}
.pricing-area .pricing_arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -70px;
  width: 80px;
  transform: translate(130px, 40px) rotate(-15deg);
}
.pricing-area .pricing-active {
  background: #12192a;
  color: #ffffff;
}
.pricing-area .layer {
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: auto;
}

/*main button*/
.main-btn {
  border: 2px solid var(--main-border_color);
  border-radius: 50px;
  padding: 10px 35px;
  font-weight: normal;
  background: var(--main-background_color);
  color: var(--main-white_text);
  font-size: 14px;
}
.main-btn:hover {
  background: var(--main-background_active);
  color: var(--main-white_text);
  border-color: var(--main-background_active);
}

.btn.btn-round-wight {
  border: 2px solid var(--main-white_border_color);
  border-radius: 50px;
  padding: 10px 35px;
  color: var(--main-white_text);
  font-weight: 600;
}
.btn.btn-round-wight:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

/* round Button Strart */
.round-btn {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  padding: 10px 25px;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  background: var(--main-background_active);
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  box-sizing: border-box;
  color: #fff !important;
  background-color: red;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 25px;
  box-shadow: 8px 8px 20px 0px rgba(254, 76, 28, 0.3);
  -webkit-box-shadow: 8px 8px 20px 0px rgba(254, 76, 28, 0.3);
  -moz-box-shadow: 8px 8px 20px 0px rgba(254, 76, 28, 0.3);
}
.round-btn:hover {
  color: #fff;
  box-shadow: none !important;
}
.round-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  -webkit-transform: translate(-105%, 0);
  transform: translate(-105%, 0);
  background-color: rgba(255, 255, 255, 0.8);
}
.round-btn:hover:before {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* round Button End */

/* round white Button Start */
.round-white-btn {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  padding: 10px 25px;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  box-sizing: border-box;
  color: #000;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 25px;
  box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.3);
}
.round-white-btn:hover {
  color: #000;
}
.round-white-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  -webkit-transform: translate(-105%, 0);
  transform: translate(-105%, 0);
  background-color: rgba(254, 76, 28, 0.5);
}
.round-white-btn:hover:before {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* round white Button End */
.main-bg-color {
  background: red;
  background-size: cover;
  background-size: cover;
}

.card {
  margin-bottom: 1.875rem;
  border: none;
  box-shadow: 0px 1px 15px 1px rgb(62 57 107 / 7%);
}
.pull-up {
  transition: all 0.25s ease;
}
.pull-up:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 14px 24px rgb(62 57 107 / 20%);
  z-index: 30;
}
.bg_white {
  background: #ffffff !important;
}

.white-box {
  background: #fff;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 1px 7px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
}

.form-control {
  height: 52px;
  border: 2px solid rgb(32 32 32 / 0.3);
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  background-color: transparent !important;
}
label.form-lbl {
  margin-bottom: 0;
}

/*-----------------------------------------------
        :: Login signup Start
    ------------------------------------------------*/
.form-login {
  box-shadow: 0px 2px 30px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.login-other a {
  color: #b18438;
}
.box-otp,
.hide-box-login {
  display: none;
}
.show-box-otp {
  display: block;
}
.password_eye {
  position: relative;
}
.icon-view {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #202020;
  font-size: 18px;
}
.Fild-box-Error {
  position: relative;
}
.Fild-box-Error input {
  border: 2px solid rgb(255 0 0);
}
.Fild-box-Error .Fild-Error {
  color: red;
  position: absolute;
  bottom: -18px;
  font-size: 13px;
  left: 1px;
  font-weight: 500;
}
.form-login a {
  color: var(--main-background_active);
}

.date-icon {
  position: relative;
}
.date-icon i,
.time-icon i {
  position: absolute;
  bottom: 17px;
  right: 10px;
}

/*-----------------------------------------------
                Dashboard start
    ------------------------------------------------*/
.nav-link svg {
  fill: #fff;
  margin-right: 5px;
  width: 20px;
}

/* pricing css Style */
.pricing-area {
  position: relative;
}
.pricing-area .pricing-table {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -webkit-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  padding: 30px 40px;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 5px;
}
.pricing-area .pricing-table:hover {
  border-color: var(--main-background_active);
  transform: translateY(-10px);
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
}
.pricing-area .pricing-inner-table h2 {
  color: var(--main-background_active);
  margin-bottom: 3px;
  font-weight: 600;
}
.pricing-area .pricing-details {
  margin-top: 35px;
  padding-top: 28px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
  text-align: left;
}
.pricing-area .pricing-details ul li {
  padding: 5px 0 5px 30px;
  position: relative;
  color: #606060;
}
.pricing-area .pricing-details ul li:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: var(--main-background_active);
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.pricing-area .pricing-inner-table .button {
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -webkit-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
  -moz-box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.1);
}
.pricing-area .Packages {
  display: none;
}
.pricing-area .showpackages {
  display: block;
}
.pricing-area .main-pricing {
  position: relative;
}
.pricing-area .main-pricing .selectpricing {
  display: inline-block;
  margin: 0 auto;
  background: #12192a;
  border-radius: 50px;
  padding: 5px 5px;
}
.pricing-area .selectpricing li {
  float: left;
  margin: 0 !important;
  padding: 0;
}
.pricing-area .selectpricing a {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  z-index: 9;
  color: #fff;
}
.pricing-area .selectpricing a.selectpricing_active:hover,
.pricing-area .selectpricing a.selectpricing_active:active,
.pricing-area .selectpricing a.selectpricing_active:focus {
  color: #fff;
}
.pricing-area .selectpricing_active:after {
  background: -webkit-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: -moz-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: -ms-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: -o-linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background: linear-gradient(to right, #ff512f 0%, #f09819 100%);
  height: 100%;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50px;
  z-index: -1;
}
.pricing-area .selectpricing_active {
  color: #fff;
}
.pricing-area .pricing_arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -70px;
  width: 80px;
  transform: translate(130px, 40px) rotate(-15deg);
}
.pricing-area .pricing-active {
  background: #12192a;
  color: #ffffff;
}
.pricing-area .layer {
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: auto;
}

/*main button*/
.main-btn {
  border: 2px solid var(--main-border_color);
  border-radius: 50px;
  padding: 10px 35px;
  font-weight: normal;
  background: var(--main-background_color);
  color: var(--main-white_text);
  font-size: 14px;
}
.main-btn:hover {
  background: var(--main-background_active);
  color: var(--main-white_text);
  border-color: var(--main-background_active);
}

.btn.btn-round-wight {
  border: 2px solid var(--main-white_border_color);
  border-radius: 50px;
  padding: 10px 35px;
  color: var(--main-white_text);
  font-weight: 600;
}
.btn.btn-round-wight:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

/* round Button Strart */
.round-btn {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  padding: 10px 25px;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  background: var(--main-background_active);
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  box-sizing: border-box;
  color: #fff !important;
  background-color: red;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 25px;
  box-shadow: 8px 8px 20px 0px rgba(254, 76, 28, 0.3);
  -webkit-box-shadow: 8px 8px 20px 0px rgba(254, 76, 28, 0.3);
  -moz-box-shadow: 8px 8px 20px 0px rgba(254, 76, 28, 0.3);
}
.round-btn:hover {
  color: #fff;
  box-shadow: none !important;
}
.round-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  -webkit-transform: translate(-105%, 0);
  transform: translate(-105%, 0);
  background-color: rgba(255, 255, 255, 0.8);
}
.round-btn:hover:before {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* round Button End */

/* round white Button Start */
.round-white-btn {
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  padding: 10px 25px;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  outline: 0;
  box-sizing: border-box;
  color: #000;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 25px;
  box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 12px 12px 20px 0px rgba(0, 0, 0, 0.3);
}
.round-white-btn:hover {
  color: #000;
}
.round-white-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  -webkit-transform: translate(-105%, 0);
  transform: translate(-105%, 0);
  background-color: rgba(254, 76, 28, 0.5);
}
.round-white-btn:hover:before {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
/* round white Button End */

.m-0 {
  margin: 0px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.date-icon {
  position: relative;
}
.date-icon i,
.time-icon i {
  position: absolute;
  bottom: 17px;
  right: 10px;
}
