<div class="main-bg-color"> 
    <div class="container">
        <div class="row justify-content-center min-vh-100 align-items-center pt-5 pb-5"> 
            <div class="col-md-6">
                <div class="">
                    <form class="form">
                        <div class="white-box form-login p-40">
                            <div class="row">
                                <div  class="col-md-12 text-center">
                                    <a class="navbar-brand" href="#">
                                        <img src="assets/images/logo.png" class="img-fluid" alt="logo" width="180">
                                    </a>
                                </div>
                            </div>
                            <div class="box-login">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center mb-4">
                                            <h4 class="mt-30 text-capitalize"><strong>Login</strong></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                         
                                    <div class="col-md-12">
                                        <fieldset class="form-group ">
                                            <label class="form-lbl">Email <span class="required">*</span></label>
                                            <input type="text" class="form-control" id="">
                                        </fieldset> 
                                    </div>  
                                </div>                                         
                                <div class="row"> 
                                    <div class="col-md-12"> 
                                        <fieldset class="form-group view-password">  
                                            <label class="form-lbl">Password <span class="required">*</span></label> 
                                            <div class="password_eye">
                                                <input type="password" class="form-control password-icon input-password" aria-label="password">
                                                <a href="JavaScript:void(0);" class="icon-view">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div> 
                                        </fieldset> 
                                    </div>  
                                </div> 
                                <div class="row mt-5">
                                    <div class="col-md-6">
                                        <div class="">
                                            <p class="m-0">New to Trezix?</p>
                                            <a href="/register" class="text-color">Sign Up</a>                                                
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <div class="login-btn text-center">
                                            <a href="login.html" class="button-style d-block">Login</a> 
                                        </div>
                                    </div> 
                                </div> 
                            </div>


                        </div> 
                    </form>
                </div>
            </div> 
        </div> 
    </div> 
</div> 

<!-- start back to top area -->
<div id="back-to-top" class="back-to-top">
    <a href="#"> 
        <span class="arrow topfirst"></span>
        <span class="arrow topsecond"></span>
    </a>
</div>