<div class="left-sidebar sidebar-fixed ">
    <div class="app-brand">
        <a href="" class="text-center logo-text color_text">
            <img class="brand-logo img-fluid" alt="" src="asset/images/logo_icon.png">
            <h3 class="brand-text mb-0">
                <img class="img-fluid" alt="" src="asset/images/logo.png" width="100px">
            </h3>
        </a> 
    </div>
    <div class="sidebar-inner fancy-scroll simplebar" id="accordion"> 
        <div class="collapse show sidebar-menu-ul" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden"> 
                <li class="nav-item">  
                    <a class="nav-link left-main" href="javascript:void(0);">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" height="24" width="24">
                            <g>
                                <g>
                                    <g>
                                        <path d="M435.143,129.356c-6.796-6.795-17.463-7.797-25.407-2.384c-29.926,20.398-180.03,122.969-196.162,139.1
                                        c-23.394,23.395-23.394,61.459,0,84.854c11.697,11.696,27.063,17.545,42.427,17.545c15.364,0,30.729-5.849,42.427-17.545
                                        c16.131-16.132,118.701-166.236,139.1-196.162C442.939,146.821,441.938,136.153,435.143,129.356z M270.142,322.641
                                        c-7.797,7.799-20.486,7.799-28.283,0c-7.798-7.797-7.799-20.482-0.004-28.28c6.268-6.194,48.885-36.588,101.319-73.035
                                        C306.728,273.76,276.334,316.375,270.142,322.641z"/>
                                        <path d="M92.231,401.523l-24.69,12.044C49.475,381.325,40,345.338,40,308.499c0-26.991,4.977-52.842,14.06-76.683l28.291,13.57
                                        c2.79,1.338,5.735,1.972,8.636,1.972c7.453,0,14.608-4.185,18.047-11.355c4.776-9.959,0.576-21.906-9.384-26.683l-27.932-13.398
                                        c34.717-56.62,94.784-96.095,164.283-102.505v30.081c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V93.402
                                        c23.828,2.169,46.884,8.237,68.771,18.117c10.065,4.545,21.912,0.066,26.457-9.999c4.545-10.068,0.068-21.913-10-26.458
                                        C328.063,60.091,292.659,52.499,256,52.499c-68.38,0-132.667,26.628-181.02,74.98C26.629,175.832,0,240.119,0,308.499
                                        c0,50.53,14.998,99.674,43.373,142.115c3.822,5.715,10.141,8.886,16.639,8.886c2.954,0,5.946-0.655,8.757-2.026l41-20
                                        c9.928-4.843,14.05-16.816,9.207-26.744C114.133,400.803,102.159,396.682,92.231,401.523z"/>
                                        <path d="M489.436,203.271c-4.544-10.067-16.387-14.547-26.458-10c-10.067,4.545-14.544,16.39-9.999,26.457
                                        C465.601,247.686,472,277.553,472,308.499c0,36.894-9.506,72.939-27.625,105.218l-25.777-12.275
                                        c-9.971-4.748-21.906-0.515-26.656,9.459c-4.749,9.972-0.514,21.907,9.459,26.656l42,20c2.763,1.315,5.692,1.944,8.588,1.944
                                        c6.5,0,12.82-3.175,16.637-8.886C497.002,408.173,512,359.029,512,308.499C512,271.84,504.408,236.436,489.436,203.271z"/>
                                    </g>
                                </g>
                            </g> 
                        </svg>
                        <span class="menu-title">
                            Dashboard 
                        </span> 
                    </a> 
                </li>

                <li class="nav-item">  
                    <a class="nav-link" href="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                        </svg> 
                        <span class="menu-title">
                            Plan 
                        </span> 
                    </a> 
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#first" data-toggle="collapse" data-target="#first" aria-expanded="true">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                        </svg>
                        <span class="menu-title">Sales One</span>
                    </a>
                    <div class="collapse" id="first" aria-expanded="false">
                        <ul class="flex-column nav menu-content">
                            <li class="nav-item">
                                <a class="nav-link menu-item " href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                        <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                                    </svg>
                                    <span class="menu-title">Purchase Orders</span>
                                </a> 
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link menu-item" href="javascript:void(0);">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                        <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                                    </svg>
                                    <span class="menu-title">Sales Orders</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link collapsed" href="#add_pages" data-toggle="collapse" data-target="#add_pages">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                        </svg>
                        <span class="menu-title">Sales</span>
                    </a>
                    <div class="collapse" id="add_pages" aria-expanded="false">
                        <ul class="flex-column nav menu-content">
                            <li class="nav-item">
                                <a class="nav-link collapsed " href="#submenu1sub11" data-toggle="collapse" data-target="#submenu1sub11">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                        <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                                    </svg>
                                    <span class="menu-title">Level Two</span>
                                </a>
                                <div class="collapse" id="submenu1sub11" aria-expanded="false">
                                    <ul class="flex-column nav menu-content">
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0);">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                                    <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                                                </svg>
                                                <span>Level Three data here</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript:void(0);">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                                    <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                                                </svg>
                                                <span>Level Three data here</span>
                                            </a>
                                        </li> 
                                    </ul>
                                </div>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link menu-item" href="javascript:void(0);">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24" width="24" role="img" aria-hidden="true">
                                        <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,6A2,2 0 0,0 10,8A2,2 0 0,0 12,10A2,2 0 0,0 14,8A2,2 0 0,0 12,6M12,13C14.67,13 20,14.33 20,17V20H4V17C4,14.33 9.33,13 12,13M12,14.9C9.03,14.9 5.9,16.36 5.9,17V18.1H18.1V17C18.1,16.36 14.97,14.9 12,14.9Z"></path>
                                    </svg>
                                    <span class="menu-title">Sales Orders</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="page-wrapper"> 
    <header class="main-header " id="header">
        <nav class="navbar navbar-static-top navbar-expand-lg">
            <!-- Sidebar toggle button --> 
            <div class="Sidebar-btn responsive-btn">  
                <i class="fa fa-bars" aria-hidden="true"></i> 
            </div>
            

            <!-- logo -->
            <div class="res_logo d-xl-none d-lg-none"> 
                <a href="" class="text-center d-block logo-text color_text"><img src="asset/images/logo.png" alt="" class="img-fluid"></a>
            </div>

            <!-- User Account -->
            <div class="navbar-right">
                <ul class="list-inline m-0 account-right-login">
                     

                    <!-- -header-notification -->
                    <li class="list-inline-item dropdown header-notification">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="asset/images/header_icon/notification.png" class="img-fluid" width="24px">
                            <span class="massage-number">2</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right p-0">
                            <li class="dropdown-menu-header ">
                                <h6 class="dropdown-header m-0">
                                    <span class="grey darken-2">Notification</span>
                                </h6>
                                <hr class="m-0">
                            </li>
                            <li class="dropdown-menu-header scrollable-container ps">
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="media-heading m-0">Margaret Govan</h6>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="media-heading m-0">Margaret Govan</h6>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="media-heading m-0">Margaret Govan</h6>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-menu-footer">
                                <hr class="m-0">    
                                <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all Notification</a>
                            </li>
                        </ul>
                    </li>  
                    <!-- -massage -->
                    <li class="list-inline-item dropdown header-massage">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="asset/images/header_icon/massage.png" class="img-fluid" width="30px">
                            <span class="massage-number">2</span>
                        </a>
                         

                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right p-0">
                            <li class="dropdown-menu-header ">
                                <h6 class="dropdown-header m-0">
                                    <span class="grey darken-2">Messages</span>
                                </h6>
                                <hr class="m-0">
                            </li>
                            <li class="dropdown-menu-header scrollable-container ps">
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="media-heading m-0">Margaret Govan</h6>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="media-heading m-0">Margaret Govan</h6>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <h6 class="media-heading m-0">Margaret Govan</h6>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-menu-footer">
                                <hr class="m-0">    
                                <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all Messages</a>
                            </li>
                        </ul>
                    </li>


                    <!-- User Account -->
                    <li class="list-inline-item dropdown user-menu ">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="login-name ">John Doe</span>
                            <img src="https://dummyimage.com/30x30" class="user-image ml-2" alt="User Image">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right p-0">
                            <li class="dropdown-header res_dropdown_header">
                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                <div class="d-inline-block res_login_name">
                                    <span>Admin</span>
                                    <small class="pt-1">info@gmail.com</small>
                                </div>
                            </li> 
                            <li class="">
                                <a href="change-password.html" class="d-flex">
                                    <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    <span class="ml-2">Change Password </span>
                                </a>
                            </li>
                            <li>
                                <a href="login.html" class="d-flex">
                                    <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                                    <span class="ml-2">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- content-wrapper section start-->
    <div class="content-wrapper">
        <div class="container"> 
            <div class="page-data-box pt-20">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mt-3">
                            <h2 class="fw_6">Welecome to our <span class="fw_7 text-color">Trezix</span></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                    
                        </div>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-md-12">
                        <div class="main-title">
                            <h4 class="fw_7">Choose a Plan</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                    
                        </div>
                    </div>
                </div> 
                <div class="row justify-content-center pricing-area">
                    <!-- Basic -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-table mb-30"> 
                            <div class="pricing-inner-table text-center">
                                <span>Basic Pack</span>
                                <h2 class="text-uppercase pt-2 fw_7"><span>$</span> 59.00</h2> 
                                <p class="m-0">Yearly Package</p>
                                <div class="pricing-details">
                                    <ul class="list-inline m-0">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full accessn</li>
                                        <li>Push Notifications</li>
                                    </ul>
                                </div>   
                                <a href="Javascript:void(0);" class="round-btn d-block login-otp">Choose Plane</a>
                            </div>
                        </div>
                    </div>
                    <!-- Standard -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-table mb-30"> 
                            <div class="pricing-inner-table text-center"> 
                                <span>Standard Pack</span>
                                <h2 class="text-uppercase pt-2 fw_7"><span>$</span> 79.00</h2> 
                                <p class="m-0">Yearly Package</p>
                                <div class="pricing-details">
                                    <ul class="list-inline m-0">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full accessn</li>
                                        <li>Push Notifications</li>
                                    </ul>
                                </div> 
                                <a href="Javascript:void(0);" class="round-btn d-block login-otp">Choose Plane</a>
                            </div>
                        </div>
                    </div>
                    <!-- Ultimate -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-table  mb-30"> 
                            <div class="pricing-inner-table text-center">
                                <span>Ultimate Pack</span>
                                <h2 class="text-uppercase pt-2 fw_7"><span>$</span> 99.00</h2> 
                                <p class="m-0">Yearly Package</p>
                                <div class="pricing-details">
                                    <ul class="list-inline m-0">
                                        <li>Extra features</li>
                                        <li>Lifetime free support</li>
                                        <li>Upgrate options</li>
                                        <li>Full accessn</li>
                                        <li>Push Notifications</li>
                                    </ul>
                                </div> 
                                <a href="Javascript:void(0);" class="round-btn d-block login-otp">Choose Plane</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <!-- content-wrapper section end-->
</div>
