<div class="content-wrapper leftmargin">
    <div class="container"> 
        <div class="page-data-box pt-20">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mt-3">
                        <h2 class="fw_6">Welcome to our <span class="fw_7 text-color">Trezix</span></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                    
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-12">
                    <div class="main-title text-center ">
                        <h4 class="fw_7 ">Choose a Plan</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>                                    
                    </div>
                </div>
            </div> 
            <div class="row justify-content-center pricing-area">
                <!-- Basic -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="pricing-table mb-30">                            
                        <div class="pricing-inner-table text-center">
                            <span>Basic Pack</span>
                            <h2 class="text-uppercase pt-2 fw_7 "><span>$</span> 59.00</h2> 
                            <p class="m-0">Yearly Package</p>
                            <div class="pricing-details text-center">
                                <ul class="list-inline m-0">
                                    <li>Extra features</li>
                                    <li>Lifetime free support</li>
                                    <li>Upgrate options</li>
                                    <li>Full accessn</li>
                                    <li>Push Notifications</li>
                                </ul>
                            </div>                          
                            <a href="Javascript:void(0);" class="login-btn button-style round-btn d-block login-otp shadow-lg shadow-primary">Choose Plan</a>
                        
                        </div>
                    </div>
                </div>
                <!-- Standard -->
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="pricing-table mb-30"> 
                        <div class="pricing-inner-table text-center"> 
                            <span>Standard Pack</span>
                            <h2 class="text-uppercase pt-2 fw_7 "><span>$</span> 79.00</h2> 
                            <p class="m-0">Yearly Package</p>
                            <div class="pricing-details text-center">
                                <ul class="list-inline m-0">
                                    <li>Extra features</li>
                                    <li>Lifetime free support</li>
                                    <li>Upgrate options</li>
                                    <li>Full accessn</li>
                                    <li>Push Notifications</li>
                                </ul>
                            </div> 
                            
                            <a href="Javascript:void(0);" class="login-btn button-style round-btn d-block login-otp">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <!-- Ultimate -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="pricing-table  mb-30"> 
                        <div class="pricing-inner-table text-center">
                            <span>Ultimate Pack</span>
                            <h2 class="text-uppercase pt-2 fw_7"><span>$</span> 99.00</h2> 
                            <p class="m-0">Yearly Package</p>
                            <div class="pricing-details text-center">
                                <ul class="list-inline m-0">
                                    <li>Extra features</li>
                                    <li>Lifetime free support</li>
                                    <li>Upgrate options</li>
                                    <li>Full accessn</li>
                                    <li>Push Notifications</li>
                                </ul>
                            </div> 
                            
                            <a href="Javascript:void(0);" class=" login-btn button-style round-btn d-block login-otp">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
