            <!-- page data area start -->
            <div class="leftmargin">
                <form #planningForm="ngForm" name="form" (ngSubmit)="onSubmit()">
                    <div class="pt-80">
                <div class="container-fluid ">
                  
                   
                        <div class="page-navigation">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex align-items-center text-center  ">
                                        <div class="page-name">
                                            <h6>Planning</h6>
                                        </div>
                                        <div class="ms-auto box-breadcrumb"> 
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="" class="mr-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                                        </svg>
                                                    </a>
                                                </li> 
                                                <li class="breadcrumb-item">
                                                    <a href="" class="mr-2">
                                                        Import
                                                    </a>
                                                </li> 
                                                <li class="breadcrumb-item active">Planning</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <!-- Customer Planning  -->
                            <div class="pus-card ">
                                <div class="pus-card-header d-flex align-items-center text-center justify-content-between">
                                    <div class="pus-card-title">
                                        <h6>Customer Planning</h6>
                                    </div>
                                    <div class="pus-card-heading-elements">
                                        <ul class="list-inline mb-0"> 
                                            <li class="list-inline-item">
                                                <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Reset">
                                                    <img src="assets/images/table-icons/reset.svg" class="img-fluid" alt="">
                                                </a>
                                            </li>
                                            <!-- <li class="list-inline-item">
                                                <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Save">
                                                    <img src="assets/images/table-icons/save.svg" class="img-fluid" alt="">
                                                </a>
                                            </li>  -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="pus-card-content collapse show"> 
                                    <div class="row mb-1">  
                                        <div class="col-md-12">
                                            
                                            <div class="grid-4 form-grid-4">
                                                <div class="form-grid-list">
                                                    <fieldset class="form-group ">
                                                        <label class="form-lbl">Select Category  <span class="text-danger">*</span></label>
                                                        <select [(ngModel)]="form.category" #category="ngModel"  name="category"  name="" class="form-control" required>
                                                            <option value="" selected="">Select Category</option>
                                                            <option value="Food">Food</option>
                                                            <option value="Electronic">Electronic</option>
                                                            <option value="Cloth">Cloth</option> 
                                                        </select>
                                                        <span *ngIf="category.invalid && category.touched " class="alert-danger ">Category is required</span>
                                                    </fieldset> 
                                                </div> 
                                                <div class="form-grid-list">
                                                    <fieldset class="form-group">
                                                        <label class="form-lbl">Select Sub Category  <span class="text-danger">*</span></label>
                                                        <select  [(ngModel)]="form.subcategory" #subcategory="ngModel"  name="subcategory"   class="form-control" required>
                                                            <option >Select Sub Category</option>
                                                            <option value="Mango">Mango </option>
                                                            <option value="Orange<">Orange</option>
                                                            <option value="Grapes">Grapes</option> 
                                                        </select>
                                                        <span *ngIf="subcategory.invalid && subcategory.touched" class="alert-danger ">Sub Category is required</span>
                                                    </fieldset> 
                                                </div> 
                                                <div class="form-grid-list">
                                                    <div class="form-group">
                                                        <label class="form-lbl" for=""> Product Name <span class="text-danger">*</span></label>
                                                        <input [(ngModel)]="form.name" #name="ngModel"  name ="name" type="text" class="form-control" placeholder="Name" required>
                                                        <span *ngIf="name.invalid && name.touched" class="alert-danger ">Name is required</span>
                                                    </div>
                                                </div> 
                                                <div class="form-grid-list">
                                                    <fieldset class="form-group ">
                                                        <label class="form-lbl">Select Vendor  <span class="text-danger">*</span></label>
                                                        <div class="select-vendors">
                                                            <select  [(ngModel)]="form.type" #type="ngModel"  name="type"  class="form-control select-select2" required>
                                                                <option value="">Select Vendor</option>
                                                                <option value="Vendor Name One">Vendor Name One </option>
                                                                <option value="Vendor Name Two">Vendor Name Two</option>
                                                                <option value="Vendor Name Three">Vendor Name Three</option> 
                                                            </select>
                                                            <span *ngIf="type.invalid && type.touched" class="alert-danger ">Vendor type is required</span> 
                                                            <div class="toolbar-filter">
                                                                <a href="javascript:void(0);" class="add-vendors toolbar-link-filter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Vendor">
                                                                    <img src="assets/images/table-icons/add.svg" class="img-fluid" alt="">
                                                                </a>
                                                            </div>                                       
                                                        </div>
                                                    </fieldset> 
                                                </div> 
                                                <div class="form-grid-list">
                                                    <div class="form-group">
                                                        <label class="form-lbl" for=""> Vendor Country <span class="text-danger">*</span></label>
                                                        <input   [(ngModel)]="form.country" #country="ngModel"  name="country"  type="text" class="form-control" placeholder="Country " required>
                                                        <span *ngIf="country.invalid && country.touched" class="alert-danger ">Country is required</span>                                                      
                                                    </div>
                                                </div> 
                                                <div class="form-grid-list">
                                                    <div class="form-group">
                                                        <label class="form-lbl" for=""> Vendor State <span class="text-danger">*</span></label>
                                                        <input [(ngModel)]="form.state" #state="ngModel"  name="state"  type="text" class="form-control" placeholder="State" required>
                                                        <span *ngIf="state.invalid && state.touched" class="alert-danger ">State is required</span>                                                         
                                                    </div>
                                                </div> 
                                                <div class="form-grid-list">
                                                    <div class="form-group">
                                                        <label class="form-lbl" for=""> Vendor City <span class="text-danger">*</span></label>
                                                        <input [(ngModel)]="form.city" #city="ngModel"  name="city"  type="text" class="form-control" placeholder="City" required>      
                                                        <span *ngIf="city.invalid && city.touched" class="alert-danger ">City is required</span>                                                   
                                                    </div>
                                                </div> 
                                                <div class="form-grid-list">
                                                    <div class="form-group">
                                                        <label class="form-lbl" for=""> Vendor Zip/Postal Code <span class="text-danger">*</span></label>
                                                        <input [(ngModel)]="form.zipcode" #zipcode="ngModel"  name="zipcode"  type="text" class="form-control" placeholder="City" required>  
                                                        <span *ngIf="zipcode.invalid && zipcode.touched" class="alert-danger Fild-box-Error">Zip Code is required</span>                                                       
                                                    </div>
                                                </div> 
                                                <div class="form-grid-list">
                                                    <div class="form-group">
                                                        <label class="form-lbl" for=""> Currency <span class="text-danger">*</span></label>
                                                        <select [(ngModel)]="form.currency" #currency="ngModel"  name="currency"  class="form-control select-select2" required>
                                                            <option value="">Select Currency</option>
                                                            <option value="INR">INR </option>
                                                            <option value="Dollar">Dollar</option>
                                                            <option value="Pound">Pound</option> 
                                                        </select>
                                                        <span *ngIf="currency.invalid && currency.touched" class="alert-danger Fild-box-Error">Currency is required</span> 
                                                    </div>
                                                </div> 
                                                <div class="form-grid-list">
                                                    <div class="form-group">
                                                        <label class="form-lbl" for=""> Quantity <span class="text-danger">*</span></label>
                                                        <input [(ngModel)]="form.quantity" #quantity="ngModel"  name="quantity"  type="Number" class="form-control" placeholder="Quantity" required>   
                                                        <span *ngIf="quantity.invalid && quantity.touched" class="alert-danger ">Quantity is required</span>                                                      
                                                    </div>
                                                </div>
                                                <div class="form-grid-list">
                                                    <fieldset class="form-group">
                                                        <label class="form-lbl">Approx Date  <span class="text-danger">*</span></label>
                                                        <div class="headersearch">
                                                            <input [(ngModel)]="form.date" #date="ngModel"  name="date"  type="date" id=" " value="01-12-2020" name="StartDate" class="form-control datepicker mr-2" data-date-format="mm/dd/yyyy" required>
                                                            <span *ngIf="date.invalid && date.touched" class="alert-danger ">Approxmate data is required</span>                                                            
                                                        </div>
                                                    </fieldset> 
                                                </div> 
                                                    
                                            </div> 
                                            
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-center mt-3">
                                                <button type="submit" routerLink="/import-vendor" class="button-style ">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div> 
                    </div>
                </div>
      </div>
                </form>
            </div>
            <!-- page data area End -->