<!-- page data area start -->
<div class="leftmargin pt-80">
    <form #businessForm="ngForm" name="form" (ngSubmit)="onSubmit()">
    <div class="container-fluid ">
        <div class="page-navigation">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-center text-center  ">
                        <div class="page-name">
                            <h6>Business Partner</h6>
                        </div>
                        <div class="ms-auto box-breadcrumb"> 
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="" class="mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                        </svg>
                                    </a>
                                </li> 
                                <li class="breadcrumb-item">
                                    <a href="" class="mr-2">
                                        Import
                                    </a>
                                </li> 
                                <li class="breadcrumb-item active">Business Partner</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Customer Planning  -->
                <div class="pus-card ">
                    <div class="pus-card-header d-flex align-items-center text-center justify-content-between">
                        <div class="pus-card-title">
                            <h6>Business Partner </h6>
                        </div>
                        <div class="pus-card-heading-elements">
                            <ul class="list-inline mb-0"> 
                                <li class="list-inline-item">
                                    <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Reset">
                                        <img src="assets/images/table-icons/reset.svg" class="img-fluid" alt="">
                                    </a>
                                </li>
                                <!-- <li class="list-inline-item">
                                    <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Save">
                                        <img src="assets/images/table-icons/save.svg" class="img-fluid" alt="">
                                    </a>
                                </li>  -->
                            </ul>
                        </div>
                    </div>
                    <div class="pus-card-content collapse show"> 
                        <div class="row mb-1">   
                            <div class="col-md-12">
                                <div class="box-po">
                                    <div class="tabs-po">
                                        <ul class="list-line box-po-tabs">
                                            <li class="list-inline-item">
                                                <a class="po-tabs-active" data-bind="Customer"
                                                  (click)="toggleCustomer()"
                                                >
                                                  Customer
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="" data-bind="Vendor"
                                                  (click)="toggleVendor()"

                                                >
                                                  Vendor
                                                </a>
                                            </li> 
                                        </ul>
                                    </div>
                                    <div class="tabs-details-po">
                                        <div id="Customer" class="details-po details-po-active"
                                            
                                        >
                                            <div class="">
                                                <div class="grid-4 form-grid-4"> 
                                                    <div class="form-grid-list">
                                                        <fieldset class="form-group">
                                                            <label class="form-lbl">Name <span class="text-danger">*</span></label>
                                                            <div class="headersearch"> 
                                                                <input type="text" class="form-control" placeholder="Enter name" required="required"> 
                                                            </div> 
                                                        </fieldset> 
                                                    </div>
                                                    <div class="form-grid-list">
                                                        <fieldset class="form-group">
                                                            <label class="form-lbl">Email <span class="text-danger">*</span></label>
                                                            <div class="headersearch"> 
                                                                <input type="text" class="form-control" placeholder="Enter Email" required="required"> 
                                                            </div> 
                                                        </fieldset> 
                                                    </div>
                                                    <div class="form-grid-list"> 
                                                        <fieldset class="form-group">
                                                            <label class="form-lbl">Mobile Number <span class="text-danger">*</span></label>
                                                            <input 
                                                            type="text"
                                                            class="form-control phone"
                                                            [(ngModel)]="form.mobile"
                                                            name="mobile"
                                                            #mobile="ngModel"
                                                            required                                            
                                                            ng2TelInput
                                                            [ng2TelInputOptions]="{initialCountry: 'in'}"
                                                        />
                                                        </fieldset>
                                                    </div> 
                                                </div> 
                                                <div class="grid-1 form-grid-1">
                                                    <div class="text-center mt-3">
                                                        <a href="vendor.html" class="button-style ">Submit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="Vendor" class="details-po details-po-active"
                                            
                                        >
                                            <div class="">
                                                <div class="grid-4 form-grid-4">
                                                    <div class="form-grid-list">
                                                        <fieldset class="form-group ">
                                                            <label class="form-lbl">Select Category  <span class="text-danger">*</span></label>
                                                            <select name="" class="form-control">
                                                                <option value="" selected="">Select Category</option>
                                                                <option value="">Food</option>
                                                                <option value="">Electronic</option>
                                                                <option value="">Cloth</option> 
                                                            </select> 
                                                        </fieldset> 
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <fieldset class="form-group">
                                                            <label class="form-lbl">Select Sub Category  <span class="text-danger">*</span></label>
                                                            <select name="" class="form-control">
                                                                <option value="">Select Sub Category</option>
                                                                <option value="">Mango </option>
                                                                <option value="">Orange</option>
                                                                <option value="">Grapes</option> 
                                                            </select>
                                                        </fieldset> 
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <div class="form-group">
                                                            <label class="form-lbl" for=""> Product Name <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="Name">
                                                            
                                                        </div>
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <fieldset class="form-group ">
                                                            <label class="form-lbl">Select Vendor  <span class="text-danger">*</span></label>
                                                            <div class="select-vendors">
                                                                <select name="" class="form-control select-select2">
                                                                    <option value="">Select Vendor</option>
                                                                    <option value="">Vendor Name One </option>
                                                                    <option value="">Vendor Name Two</option>
                                                                    <option value="">Vendor Name Three</option> 
                                                                </select>
                                                                <div class="toolbar-filter">
                                                                    <a href="javascript:void(0);" class="add-vendors toolbar-link-filter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Vendor">
                                                                        <img src="assets/images/table-icons/add.svg" class="img-fluid" alt="">
                                                                    </a>
                                                                </div>                                    
                                                            </div>
                                                        </fieldset> 
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <div class="form-group">
                                                            <label class="form-lbl" for=""> Vendor Country <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="Country ">                                                        
                                                        </div>
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <div class="form-group">
                                                            <label class="form-lbl" for=""> Vendor State <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="State">                                                        
                                                        </div>
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <div class="form-group">
                                                            <label class="form-lbl" for=""> Vendor City <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="City">                                                        
                                                        </div>
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <div class="form-group">
                                                            <label class="form-lbl" for=""> Vendor Zip/Postal Code <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" placeholder="City">                                                        
                                                        </div>
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <div class="form-group">
                                                            <label class="form-lbl" for=""> Currency <span class="text-danger">*</span></label>
                                                            <select name="" class="form-control select-select2">
                                                                <option value="">Select Currency</option>
                                                                <option value="">INR </option>
                                                                <option value="">Dollar</option>
                                                                <option value="">Pound</option> 
                                                            </select>
                                                        </div>
                                                    </div> 
                                                    <div class="form-grid-list">
                                                        <div class="form-group">
                                                            <label class="form-lbl" for=""> Quantity <span class="text-danger">*</span></label>
                                                            <input type="Number" class="form-control" placeholder="Quantity">                                                        
                                                        </div>
                                                    </div>
                                                    <div class="form-grid-list">
                                                        <fieldset class="form-group">
                                                            <label class="form-lbl">Approx Date  <span class="text-danger">*</span></label>
                                                            <div class="headersearch">
                                                                <input type="date" id=" " value="01-12-2020" name="StartDate" class="form-control datepicker mr-2" data-date-format="mm/dd/yyyy">
                                                               
                                                            </div>
                                                        </fieldset> 
                                                    </div> 
                                                </div> 
                                                <div class="grid-1 form-grid-1">
                                                    <div class="text-center mt-3">
                                                        <a href="vendor.html" class="button-style ">Send</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>                                        
                        </div>
                    </div>
                </div>  
            </div> 
        </div>
    </div>
</form>
</div>
<!-- page data area End -->


<!-- start back to top area -->
<div id="back-to-top" class="back-to-top">
    <a href="#"> 
        <span class="arrow topfirst"></span>
        <span class="arrow topsecond"></span>
    </a>
</div> 
<!-- end back to top area --> 


<!-- Right Panel filter -->
<div class="right-panel-filter right-panel-wrapper">
    <div class="panel-overlay"></div>
    <div class="right-panel w-40">
        <div class="right-panel-head">
            <h6 class="text-color">Add Vendor</h6>
            <a class="close-panel flags-panel" href="javascript:void(0);">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-icon="feather:chevron-right" style="vertical-align: -0.125em; transform: rotate(360deg);">
                    <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M9 18l6-6l-6-6"></path>
                    </g>
                </svg>
            </a>
        </div>
        <div class="right-panel-body">
            <div class="right-filters">
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="filters-scroll">
                            <div class="companydetails filters-details">
                                <div class="filters-details-title border-bottom  pl-3 pr-3 pt-2 pb-2 ">
                                    <p class="text-color">Company Details</p>
                                </div>
                                <div class="grid-2 form-grid-2 p-3">
                                    <div class="form-grid-list grid-column1">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Company Name <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Company Name" required="required"> 
                                            </div> 
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Compnay Email <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter compnay email" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div> 
                                    <div class="form-grid-list"> 
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Mobile Number <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control phone-code" id="" >
                                        </fieldset>
                                    </div> 
                                    <div class="form-grid-list grid-column1">
                                        <fieldset class="form-group ">
                                            <label class="form-lbl">Compnay Website <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter compnay website" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div> 
                                    
                                    <div class="form-grid-list grid-column1">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Address Line 1 <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter address line 1" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list grid-column1">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Address Line 2 </label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter address line 2" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Country <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter Country" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">State <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter State" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">City <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter City" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Zip/Postal Code <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter Zip/Postal Code" required="required"> 
                                            </div>
                                        </fieldset> 
                                    </div> 
                                </div>                                       
                            </div>
                            <div class="contactdetails filters-details">
                                <div class="filters-details-title border-bottom  pl-3 pr-3 pt-2 pb-2 ">
                                    <p class="text-color">Person Details</p>
                                </div>
                                <div class="grid-2 form-grid-2 p-3">
                                    <div class="form-grid-list grid-column1">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Name <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter name" required="required"> 
                                            </div> 
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Email <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input type="text" class="form-control" placeholder="Enter Email" required="required"> 
                                            </div> 
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list"> 
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Mobile Number <span class="text-danger">*</span></label>
                                            <input 
                                                    type="text"
                                                    class="form-control"
                                                   
                                                    name="mobile"
                                                  
                                                    required                                            
                                                 
                                                />
                                        </fieldset> 
                                    </div> 
                                    
                                </div>                                       
                            </div> 
                            <div class="companydocumnets filters-details">
                                <div class="filters-details-title border-bottom  pl-3 pr-3 pt-2 pb-2 ">
                                    <p class="text-color">Upload Documnets</p>
                                </div>
                                <div class="grid-2 form-grid-2 p-3">
                                    <div class="form-grid-list grid-column1">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">GST <span class="text-danger">*</span></label> 
                                            <div class="headersearch custom-file"> 
                                                <input class="custom-file-input" id="inputGroupFile04" type="file">
                                                <label class="custom-file-label" for="inputGroupFile04">Select Documents</label> 
                                            </div>
                                        </fieldset> 
                                    </div>                                             
                                </div>                                       
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-12 text-center mt-3"> 
                        <div class="d-flex justify-content-center align-items-center"> 
                            <a class="button-style ml-2" href=""> <img src="assets/images/table-icons/add.svg" class="img-fluid icon-filter-white mr-2" width="14px" alt=""> Add Vendor</a>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>  



