<!-- page data area start -->
<div class="mt-3 leftmargin">
    <div class="container-fluid ">
        <div class="page-navigation">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-block d-md-flex align-items-center text-center ">
                        <div class="page-name">
                            <h5>Add Form</h5>
                        </div>
                        <div class="ml-auto box-breadcrumb"> 
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="" class="mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                        </svg>
                                    </a>
                                </li> 
                                <li class="breadcrumb-item active">Add Form</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- DataTable  -->
                <div class="pus-card ">
                    <div class="pus-card-header d-block d-md-flex align-items-center text-center justify-content-between">
                        <div class="pus-card-title">
                            <h6>Add Form</h6>
                        </div>
                        <div class="pus-card-heading-elements">
                            <ul class="list-inline mb-0"> 
                                <li class="list-inline-item">
                                    <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Reset">
                                        <img src="assets/images/table-icons/reset.svg" class="img-fluid" alt="">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Save">
                                        <img src="assets/images/table-icons/save.svg" class="img-fluid" alt="">
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                    <div class="pus-card-content collapse show"> 
                        <div class="row mb-1">  
                            <div class="col-md-12">
                                
                                <div class="grid-5 form-grid-5">
                                    <div class="form-grid-list">
                                        <div class="form-group Fild-box-Error">
                                            <label class="form-lbl" for=""> Name <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Name">
                                            <span class="Fild-Error">Error message here</span>
                                        </div>
                                    </div> 
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Date Range</label>
                                            <div class="headersearch">
                                                <input type="text" id=" " value="01-12-2020" name="StartDate" class="form-control rangpicker mr-2" data-date-format="mm/dd/yyyy">
                                                <i class="far fa-calendar"></i>
                                            </div>
                                        </fieldset> 
                                    </div> 
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Select</label>
                                            <select name="" class="form-control">
                                                <option value="">All</option>
                                                <option value="" selected="">Today</option>
                                                <option value="">Monthly</option>
                                                <option value="">Weekly</option>
                                                <option value="">Today</option> 
                                            </select>
                                        </fieldset> 
                                    </div> 
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Select with Search</label>
                                            <div class="headersearch "> 
                                                <select name="" class="form-control select-select2">
                                                    <option value="">All</option>
                                                    <option value="" selected="">Today</option>
                                                    <option value="">Monthly</option>
                                                    <option value="">Weekly</option>
                                                    <option value="">Today</option> 
                                                </select>
                                            </div>
                                        </fieldset> 
                                    </div> 
                                    <div class="form-grid-list">
                                        <div class="form-group">
                                            <label class="form-lbl" for=""> Name</label>
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>    
                                    <div class="form-grid-list">
                                        <div class="form-group">
                                            <label class="form-lbl" for=""> Name</label>
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>    
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                </div>  
            </div> 
        </div>
    </div>
</div>
<!-- page data area End -->
