<!-- page data area start -->
<form  #planningForm="ngForm" name="form" (ngSubmit)="onSubmit()"> 
<div class="pt-80 leftmargin">
    <div class="container-fluid ">
        <div class="page-navigation">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-center text-center  ">
                        <div class="page-name">
                            <h6>Company Setup</h6>
                        </div>
                        <div class="ms-auto box-breadcrumb"> 
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="" class="mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                        </svg>
                                    </a>
                                </li> 
                                <li class="breadcrumb-item">
                                    <a href="" class="mr-2">
                                        Masters
                                    </a>
                                </li> 
                                <li class="breadcrumb-item active">Company Setup</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Customer Planning  -->
                <div class="pus-card ">
                    <div class="pus-card-header d-flex align-items-center text-center justify-content-between">
                        <div class="pus-card-title">
                            <h6>Company Details</h6>
                        </div>
                        <div class="pus-card-heading-elements">
                            <ul class="list-inline mb-0"> 
                                <li class="list-inline-item">
                                    <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Reset" required>
                                        <img src="assets/images/table-icons/reset.svg" class="img-fluid" alt="">
                                    </a>
                                </li>
                                <!-- <li class="list-inline-item">
                                    <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Save">
                                        <img src="assets/images/table-icons/save.svg" class="img-fluid" alt="">
                                    </a>
                                </li>  -->
                            </ul>
                        </div>
                    </div>
                    <div class="pus-card-content collapse show"> 
                        <div class="row mb-1">  
                            <div class="col-md-12">
                                <div class="grid-4 form-grid-4">
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Company Name <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input  [(ngModel)]="form.name" #name="ngModel" type="text" class="form-control" name="name" placeholder="Company Name" required>
                                                <div *ngIf="name.invalid && name.touched" class="alert-danger ">Name is required</div> 
                                            </div> 
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Compnay Email <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.email" #email="ngModel" type="text" class="form-control" name="email" placeholder="Enter compnay email" required> 
                                                <div *ngIf="email.invalid && email.touched" class="alert-danger ">Email is required</div> 
                                            </div>
                                        </fieldset>  
                                    </div> 
                                    <div class="form-grid-list"> 
                                        <fieldset class="form-group"> 
                                            <label class="form-lbl">Mobile Number <span class="text-danger">*</span></label>
                                            <input  [(ngModel)]="form.mobilenumber" #mobilenumber="ngModel" type="text" name="mobilenumber"  class="form-control phone-code" id="" required
                                            ng2TelInput
                                            mobilenumber
                                            [ng2TelInputOptions]="{initialCountry: 'in'}"
                                            (countryChange)="onCountryChange($event)"
                                            >
                                            <div *ngIf="mobilenumber.invalid && mobilenumber.touched" class="alert-danger ">Mobile Number is required</div> 
                                        </fieldset>
                                    </div> 
                                    <div class="form-grid-list"> 
                                        <fieldset class="form-group ">
                                            <label class="form-lbl">Company Website <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.website " #website="ngModel" type="text" name="website" class="form-control" placeholder="Enter compnay website" required> 
                                                <div *ngIf="website.invalid && website.touched" class="alert-danger ">Website is required</div>   
                                            </div>
                                        </fieldset> 
                                    </div> 
                                    
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Address Line 1 <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.address1 " #address1="ngModel" type="text" name="address1" class="form-control" placeholder="Enter address line 1" required> 
                                                <div *ngIf="address1.invalid && address1.touched" class="alert-danger ">Address Line 1 is required</div>   
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Address Line 2 </label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.address2 " #address2="ngModel" name="address2" type="text" class="form-control" placeholder="Enter address line 2" required>
                                                <div *ngIf="address2.invalid && address2.touched" class="alert-danger ">Address Line 2 is required</div>  

                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Country <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.country " #country="ngModel" name="country" type="text" class="form-control" placeholder="Enter Country" required> 
                                                <div *ngIf="country.invalid && country.touched" class="alert-danger ">Country is required</div>  
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">State <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.state " #state="ngModel" type="text" name="state" class="form-control" placeholder="Enter State" required> 
                                                <div *ngIf="state.invalid && state.touched" class="alert-danger ">State is required</div> 
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">City <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.city " #city="ngModel"  type="text" name="city" class="form-control" placeholder="Enter City" required> 
                                                <div *ngIf="city.invalid && city.touched" class="alert-danger ">City is required</div> 
                                            </div>
                                        </fieldset> 
                                    </div>
                                    <div class="form-grid-list">
                                        <fieldset class="form-group">
                                            <label class="form-lbl">Zip/Postal Code <span class="text-danger">*</span></label>
                                            <div class="headersearch"> 
                                                <input [(ngModel)]="form.zipcode " #zipcode="ngModel"  type="text" name="zipcode" class="form-control" placeholder="Enter Zip/Postal Code" required>
                                                <div *ngIf="zipcode.invalid && zipcode.touched" class="alert-danger ">Zip Code is required</div> 
                                            </div>
                                        </fieldset> 
                                    </div> 
                                </div>  
                                
                                
                            </div>
                            <div class="col-md-12">
                                <div class="text-center mt-3">
                                    <a href="#" class="button-style ">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div> 
        </div>
    </div>
</div>
<!-- page data area End -->
</form>

<!-- start back to top area -->
<div id="back-to-top" class="back-to-top">
    <a href="#"> 
        <span class="arrow topfirst"></span>
        <span class="arrow topsecond"></span>
    </a>
</div> 
<!-- end back to top area -->  