

<div class="main-left">
    <!-- start Mobile header area -->
    <div class="mob-header">
      <button class="toggler-menu">
          <div class="close-icons">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
    </div>
    <!-- End Mobile header area -->           
  
  <!-- start header area -->
    <header class="header header-left">
      <div class="main-sidebar">
          <div class="sidebar-brand">
              <a routerLink="/index" class="">
                  <div class="web-logo">
                      <img src="assets/images/logo_icons.png" class="logo-icons" alt="Logo icons">
                      <img src="assets/images/logo.png" class="logo-text" alt="Logo">                                
                  </div>                          
              </a>
          </div>
        
          <div class="sidebar-menu">
              <ul class="menu-list m-0 list-inline"> 
                  <li>
                      <a routerLink="/index" title="Dashboard"> 
                          <img src="assets/images/icons/dashboard.svg" class="img-fluid" alt=""  />
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li> 
                      <div class="sub-Catagorys">
                          <a class="sub-drop collapsed" (click)="masterCollapse.toggle()" [attr.aria-expanded]="!isCollapsedMaster" aria-controls="collapseExample">
                              <img src="assets/images/icons/import.svg" class="img-fluid" alt="Import"  />
                              <span>Masters</span>
                          </a>
                          <div class="">
                              <div #masterCollapse="ngbCollapse" [(ngbCollapse)]="isCollapsedMaster" class="collapse">
                                  <ul class="flex-column nav menu-content">
                                      <li class="nav-item">
                                          <a routerLink="master-companysetup" class="active" title="Company Setup">
                                              <img src="assets/images/icons/planning.svg" class="img-fluid" alt="Planning"  />
                                              <span>Company Setup</span>
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                          <a routerLink="master-license" title="License">
                                              <img src="assets/images/icons/vendor.svg" class="img-fluid" alt="Vendor"  />
                                              <span>License</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="master-port" title="Port">
                                              <img src="assets/images/icons/vendor.svg" class="img-fluid" alt="Port"  />
                                              <span>Port</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="master-curency" title="Currency Setting">
                                              <img src="assets/images/icons/generate_po.svg" class="img-fluid" alt="Generate PO"  />
                                              <span>Currency Setting</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="master-busineespartner" title="Business Partner">
                                              <img src="assets/images/icons/lc.svg" class="img-fluid" alt="Letter of Credit"  />
                                              <span>Business Partner</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="master-bank" class="active" title="Bank">
                                              <img src="assets/images/icons/bank.svg" class="img-fluid" alt="bank"  />
                                              <span>Bank</span>
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                            <a routerLink="master-document" title="Document">
                                                <img src="assets/images/icons/document.svg" class="img-fluid" alt="Document"  />
                                                <span>Document</span>
                                            </a>
                                        </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sub-Catagorys">  
                          <a class="sub-drop collapsed" (click)="importCollapse.toggle()" [attr.aria-expanded]="!isCollapsedImport" aria-controls="collapseExample">
                              <img src="assets/images/icons/import.svg" class="img-fluid" alt="Import"  />
                              <span>Import</span>
                          </a>
                          <div class=""> 
                              <div #importCollapse="ngbCollapse" [(ngbCollapse)]="isCollapsedImport" class="collapse">
                                  <ul class="flex-column nav menu-content">
                                      <li class="nav-item">
                                          <a routerLink="import-planning" class="active" >
                                              <img src="assets/images/icons/planning.svg" class="img-fluid" alt="Home"  />
                                              <span>Planning</span>
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                          <a routerLink="import-vendor">
                                              <img src="assets/images/icons/vendor.svg" class="img-fluid" alt="Home"  />
                                              <span>Vendor</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="import-generatepo">
                                              <img src="assets/images/icons/generate_po.svg" class="img-fluid" alt="Home"  />
                                              <span>Generate PO</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                        <a routerLink="import-letterofcredit">
                                            <img src="assets/images/icons/letterofcredit.svg" class="img-fluid" alt="Letter of Credit"  />
                                            <span>Letter of Credit</span>
                                        </a>
                                    </li> 
                                    <li class="nav-item">
                                        <a routerLink="import-bankimport">
                                            <img src="assets/images/icons/bank.svg" class="img-fluid" alt="BankImport"  />
                                            <span>Bank</span>
                                        </a>
                                    </li> 
                                    <li class="nav-item">
                                        <a routerLink="import-third_party_inspection">
                                            <img src="assets/images/icons/bank.svg" class="img-fluid" alt="Third_Party_Inspection" />
                                            <span>3rd Party Inspection</span>
                                        </a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/export.svg" class="img-fluid" alt="export"  />
                          <span>Export</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/shipping_agent.svg" class="img-fluid" alt="export"  />
                          <span>Shipping Agent</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/freight_forwarder.svg" class="img-fluid" alt="export"  />
                          <span>Freight Forwarder</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/custom_duty.svg" class="img-fluid" alt="export"  />
                          <span>Custom</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/transport.svg" class="img-fluid" alt="export"  />
                          <span>Transporter</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/vesseltracking" title="Vessel Tracking"> 
                          <img src="assets/images/icons/dashboard.svg" class="img-fluid" alt="Vessel Tracking"  />
                          <span>Vessel Tracking</span>
                      </a>
                    </li>                  
              </ul>
          </div>
      </div>
    </header>
  <!-- end  header area -->   
  
  <!--  header-main area-->
  
    <section class="header-main-fix">
      <nav class="navbar navbar-static-top navbar-expand-lg">  
          <!-- User Account -->
          <div class="navbar-right ms-auto">
              <ul class="list-inline m-0 account-right-login">
                  <!-- -header-notification -->
                  <li ngbDropdown class="list-inline-item dropdown header-notification">
                      <a ngbDropdownToggle class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="assets/images/notification.png" class="img-fluid" width="24px">
                          <span class="massage-number">2</span>
                      </a>
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownMenu class="dropdown-menu dropdown-menu-media dropdown-menu-start p-0">
                          <li ngbDropdownItem class="dropdown-menu-header">
                              <h6 class="m-2">
                                  <span class="grey darken-2">Notification</span>
                              </h6>
                              <hr class="m-0">
                          </li>
                          <li ngbDropdownItem class="dropdown-menu-header scrollable-container ps">
                              <a>
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a>
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a>
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li ngbDropdownItem class="dropdown-menu-footer">
                              <hr class="m-0">    
                              <a class="dropdown-item text-muted text-center">Read all Notification</a>
                          </li>
                        </button>
                  </li>  
                  <!-- -massage -->
                  <li ngbDropdown class="list-inline-item dropdown header-massage">
                      <a ngbDropdownToggle class="dropdown-toggle" data-bs-bs-toggle="dropdown" aria-expanded="false">
                          <img src="assets/images/massage.png" class="img-fluid" width="30px">
                          <span class="massage-number">2</span>
                      </a>
                      
  
                      <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-media dropdown-menu-right p-0">
                          <li ngbDropdownItem class="dropdown-menu-header ">
                              <h6 class="m-2">
                                  <span class="grey darken-2">Messages</span>
                              </h6>
                              <hr class="m-0">
                          </li>
                          <li ngbDropdownItem class="dropdown-menu-header scrollable-container ps">
                              <a>
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a>
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a>
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li ngbDropdownItem class="dropdown-menu-footer">
                              <hr class="m-0">    
                              <a class="dropdown-item text-muted text-center">Read all Messages</a>
                          </li>
                      </ul>
                  </li>
                  <!-- User Account -->
                  <li ngbDropdown class="list-inline-item dropdown user-menu ">
                      <a ngbDropdownToggle class="dropdown-toggle" data-bs-bs-toggle="dropdown" aria-expanded="false">
                          <span class="login-name fw_6">John Doe </span>
                          <img src="assets/images/icons/avtara.png" class="user-image ml-2" alt="User Image">
                      </a>
                      <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right p-0">                                     
                          <li ngbDropdownItem class="">
                              <a routerLink="/" class="d-flex">
                                  <img src="assets/images/icons/user.svg" class="img-fluid" alt="">
                                  <span class="mx-2"> Profile </span>
                              </a>
                          </li>
                          <li ngbDropdownItem class="">
                              <a routerLink="/" class="d-flex">
                                  <img src="assets/images/icons/change_password.svg" class="img-fluid" alt="">                                  
                                  <span class="mx-2"> Change Password </span>
                              </a>
                          </li>
                          <li ngbDropdownItem class="">
                              <a routerLink="/login" class="d-flex">
                                  <img src="assets/images/icons/logout.svg" class="img-fluid" alt="">
                                  <span class="mx-2"> Log Out</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>      
      </nav>
    </section>
  </div>
  <div id="back-to-top" class="back-to-top" style="display: none;">
    <a href="#"> 
        <span class="arrow topfirst"></span>
        <span class="arrow topsecond"></span>
    </a>
  </div>
