

<div class="main-left">
    <!-- start Mobile header area -->
    <div class="mob-header">
      <button class="toggler-menu">
          <div class="close-icons">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
    </div>
    <!-- End Mobile header area -->           
  
  <!-- start header area -->
    <header class="header header-left">
      <div class="main-sidebar">
          <div class="sidebar-brand">
              <a routerLink="/index" class="">
                  <div class="web-logo">
                      <img src="assets/images/logo_icons.png" class="logo-icons" alt="Logo icons">
                      <img src="assets/images/logo.png" class="logo-text" alt="Logo">                                
                  </div>                          
              </a>
          </div>
        
          <div class="sidebar-menu">
              <ul class="menu-list m-0 list-inline"> 
                  <li>
                      <a routerLink="/index" title="Dashboard"> 
                          <img src="assets/images/icons/dashboard.svg" class="img-fluid" alt=""  />
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li> 
                      <div class="sub-Catagorys">  
                          <a class="sub-drop collapsed" href="#Masters" data-toggle="collapse" data-target="#Masters" aria-expanded="true" title="Masters">
                              <img src="assets/images/icons/import.svg" class="img-fluid" alt="Import"  />
                              <span>Masters</span>
                          </a>
                          <div class=""> 
                              <div class="collapse" id="Masters" aria-expanded="false">
                                  <ul class="flex-column nav menu-content">
                                      <li class="nav-item">
                                          <a routerLink="master/companysetup" class="active" title="Company Setup">
                                              <img src="assets/images/icons/planning.svg" class="img-fluid" alt="Planning"  />
                                              <span>Company Setup</span>
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                          <a routerLink="master/license" title="License">
                                              <img src="assets/images/icons/vendor.svg" class="img-fluid" alt="Vendor"  />
                                              <span>License</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="master/port" title="Port">
                                              <img src="assets/images/icons/vendor.svg" class="img-fluid" alt="Port"  />
                                              <span>Port</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="/master/curency" title="Currency Setting">
                                              <img src="assets/images/icons/generate_po.svg" class="img-fluid" alt="Generate PO"  />
                                              <span>Currency Setting</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="/master/busineespartner" title="Business Partner">
                                              <img src="assets/images/icons/lc.svg" class="img-fluid" alt="Letter of Credit"  />
                                              <span>Business Partner</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="/master/bank" class="active" title="Bank">
                                              <img src="assets/images/icons/bank.svg" class="img-fluid" alt="bank"  />
                                              <span>Bank</span>
                                          </a>
                                      </li> 
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="sub-Catagorys">  
                          <a class="sub-drop collapsed" href="#first" data-toggle="collapse" data-target="#first" aria-expanded="true">
                              <img src="assets/images/icons/import.svg" class="img-fluid" alt="Import"  />
                              <span>Import</span>
                          </a>
                          <div class=""> 
                              <div class="collapse" id="first" aria-expanded="false">
                                  <ul class="flex-column nav menu-content">
                                      <li class="nav-item">
                                          <a routerLink="/planning" class="active" >
                                              <img src="assets/images/icons/planning.svg" class="img-fluid" alt="Home"  />
                                              <span>Planning</span>
                                          </a>
                                      </li>
                                      <li class="nav-item">
                                          <a routerLink="/vendor">
                                              <img src="assets/images/icons/vendor.svg" class="img-fluid" alt="Home"  />
                                              <span>vendor</span>
                                          </a>
                                      </li> 
                                      <li class="nav-item">
                                          <a routerLink="/generatepo">
                                              <img src="assets/images/icons/generate_po.svg" class="img-fluid" alt="Home"  />
                                              <span>Generate PO</span>
                                          </a>
                                      </li> 
                                  </ul>
                              </div>
                          </div>
                      </div>
                  
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/export.svg" class="img-fluid" alt="export"  />
                          <span>Export</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/shipping_agent.svg" class="img-fluid" alt="export"  />
                          <span>Shipping Agent</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/freight_forwarder.svg" class="img-fluid" alt="export"  />
                          <span>Freight Forwarder</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/custom_duty.svg" class="img-fluid" alt="export"  />
                          <span>Custom</span>
                      </a>
                  </li>
                  <li>
                      <a href="" > 
                          <img src="assets/images/icons/transport.svg" class="img-fluid" alt="export"  />
                          <span>Transporter</span>
                      </a>
                  </li>
                  
              </ul>
          </div>
      </div>
    </header>
  <!-- end  header area -->   
  
  <!--  header-main area-->
  
    <section class="header-main-fix">
      <nav class="navbar navbar-static-top navbar-expand-lg">
  
          <!-- User Account -->
          <div class="navbar-right ml-auto">
              <ul class="list-inline m-0 account-right-login">
                  <!-- -header-notification -->
                  <li class="list-inline-item dropdown header-notification">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <img src="assets/images/notification.png" class="img-fluid" width="24px">
                          <span class="massage-number">2</span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right p-0">
                          <li class="dropdown-menu-header ">
                              <h6 class="m-2">
                                  <span class="grey darken-2">Notification</span>
                              </h6>
                              <hr class="m-0">
                          </li>
                          <li class="dropdown-menu-header scrollable-container ps">
                              <a href="javascript:void(0)">
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript:void(0)">
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript:void(0)">
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="dropdown-menu-footer">
                              <hr class="m-0">    
                              <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all Notification</a>
                          </li>
                      </ul>
                  </li>  
                  <!-- -massage -->
                  <li class="list-inline-item dropdown header-massage">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <img src="assets/images/massage.png" class="img-fluid" width="30px">
                          <span class="massage-number">2</span>
                      </a>
                      
  
                      <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right p-0">
                          <li class="dropdown-menu-header ">
                              <h6 class="m-2">
                                  <span class="grey darken-2">Messages</span>
                              </h6>
                              <hr class="m-0">
                          </li>
                          <li class="dropdown-menu-header scrollable-container ps">
                              <a href="javascript:void(0)">
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript:void(0)">
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                              <a href="javascript:void(0)">
                                  <div class="media">
                                      <div class="media-left">
                                          <span class="avatar avatar-sm avatar-online rounded-circle">
                                              <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                          </span>
                                      </div>
                                      <div class="media-body ml-3">
                                          <p class="media-heading m-0">Margaret Govan</p>
                                          <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                          <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                      </div>
                                  </div>
                              </a>
                          </li>
                          <li class="dropdown-menu-footer">
                              <hr class="m-0">    
                              <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all Messages</a>
                          </li>
                      </ul>
                  </li>
                  <!-- User Account -->
                  <li class="list-inline-item dropdown user-menu ">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="login-name fw_6">John Doe</span>
                          <img src="https://dummyimage.com/30x30" class="user-image ml-2" alt="User Image">
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right p-0">                                     
                          <li class="">
                              <a routerLink="/" class="d-flex">
                                  <span>
                                      <img src="assets/images/icons/user.svg" class="img-fluid" alt="">
                                  </span>
                                  <span class="ml-2">Profile </span>
                              </a>
                          </li>
                          <li class="">
                              <a href="#" class="d-flex">
                                  <span>
                                      <img src="assets/images/icons/change_password.svg" class="img-fluid" alt="">
                                  </span>
                                  <span class="ml-2">Change Password </span>
                              </a>
                          </li>
                          <li>
                              <a routerLink="/login" class="d-flex">
                                  <span>
                                      <img src="assets/images/icons/logout.svg" class="img-fluid" alt="">
                                  </span>
                                  <span class="ml-2">Log Out</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      
      </nav>
    </section>
  </div>
  <div id="back-to-top" class="back-to-top" style="display: none;">
    <a href="#"> 
        <span class="arrow topfirst"></span>
        <span class="arrow topsecond"></span>
    </a>
  </div>
  
  
  
  
  <!-- <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times; </a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div> -->
  
    <!-- <div id="main">
      <h2>Sidenav Push Example</h2>
      <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>
      <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
    </div> -->
  