<!-- <div> -->
  
  <div id="app">
    <app-navbar></app-navbar>
      <router-outlet class=""></router-outlet>
      <nav class="navbar navbar-expand navbar-dark bg-dark leftmargin">
        <a routerLink="index" class="navbar-brand">Import-Export</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a class="nav-link" routerLink="index">Home </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a class="nav-link" routerLink="admin">Admin Board</a>
          </li>
          <li class="nav-item" *ngIf="showModeratorBoard">
            <a class="nav-link" routerLink="mod">Moderator Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
          </li>
        </ul>
  
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
  
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </nav>

<!-- remove -->
<div class="container-fluid">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
<!-- remove -->


    </div>
  </div>
<!-- </div> -->