<div class="leftmargin">

    <!-- page data area start -->

    <form #vesselForm="ngForm" name="form" (ngSubmit)="onSubmit()">
    <div class="pt-80">
        <div class="container-fluid ">
            <div class="page-navigation">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center text-center  ">
                            <div class="page-name">
                                <h6>Vessel Tracking</h6> 
                            </div>
                            <div class="ms-auto box-breadcrumb"> 
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">  
                                        <a href="" class="mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">  <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>    <polyline points="9 22 9 12 15 12 15 22"></polyline>    </svg>
                                        </a>
                                    </li>  
                                    <li class="breadcrumb-item active">Vessel Tracking</li>
                                </ol> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Vessel  -->
                    <div class="pus-card">
                        <div class="pus-card-header d-block d-md-flex align-items-center text-center justify-content-between">
                            <div class="pus-card-title form">    
                                <label class="m-0">
                                    <input type="checkbox" class="book_VesselShow" (change)="toggleBookVessel()"> &nbsp; I have book Vessel
                                </label> 
                            </div> 
                        </div> 
                    </div>  
                    <!-- Customer Planning  -->
                    <div class="pus-card mt-20 VesselShow" 
                        [ngClass]="{
                            'hideDiv': !isVisible
                        }"  
                    >
                        <div class="pus-card-header d-flex align-items-center text-center justify-content-between">
                            <div class="pus-card-title">
                                <h6>Book Vessel </h6>
                            </div>
                            <div class="pus-card-heading-elements">
                                <ul class="list-inline mb-0"> 
                                    <li class="list-inline-item">
                                        <a class="table-button-white-hover " data-toggle="tooltip" data-placement="top" title="Reset">
                                            <img src="assets/images/table-icons/reset.svg" class="img-fluid" alt="">
                                        </a>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                        <div class="pus-card-content collapse show"> 
                            <div class="row mb-1">   
                                <div class="col-md-12">                                            
                                    <div class="grid-4 form-grid-4">                                                 
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Name <span class="text-danger">*</span></label>
                                                <input [(ngModel)]="form.name" #name="ngModel" type="text" class="form-control" name="name" placeholder="Name" required>
                                                <span *ngIf="name.invalid && name.touched" class="alert-danger">Name is required</span>
                                            </div>
                                        </div> 
                                         
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Tracking Info <span class="text-danger">*</span></label>
                                                <input  [(ngModel)]="form.trackinginfo" #trackinginfo="ngModel" type="text" class="form-control" name="trackinginfo" placeholder="Tracking Info " required> 
                                                <span *ngIf="trackinginfo.invalid && trackinginfo.touched" class="alert-danger">Tracking Info is required</span>                                                       
                                            </div>
                                        </div> 
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Website <span class="text-danger">*</span></label>
                                                <input  [(ngModel)]="form.webiste" #webiste="ngModel" type="text" class="form-control" name="website" placeholder="Website" required>   
                                                <span *ngIf="webiste.invalid && webiste.touched" class="alert-danger">Website is required</span>                                                          
                                            </div>
                                        </div> 
                                        <div class="form-grid-list"> 
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Container No <span class="text-danger">*</span></label>
                                                <input  [(ngModel)]="form.containerno" #containerno="ngModel" type="text" class="form-control" ngModel  name="containerno" placeholder="Container No" required> 
                                                <span *ngIf="containerno.invalid && containerno.touched" class="alert-danger">Container No. is required</span>                                                             
                                            </div>
                                        </div> 
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Shield No <span class="text-danger">*</span></label>
                                                <input [(ngModel)]="form.shieldno" #shieldno="ngModel" type="text" class="form-control" name="shieldno" placeholder="Shield No" required>    
                                                <span *ngIf="shieldno.invalid && shieldno.touched" class="alert-danger">Shield No. is required</span>                                                         
                                            </div>
                                        </div>                                              
                                    </div> 
                                    
                                </div>
                                <div class="col-md-12">
                                    <div class="text-center mt-3">
                                        <button href="" type="submit" class="button-style ">Add Vessel</button>
                                    </div>
                                </div>                                                                        
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>    
   </form>        
</div>
