<div class="leftmargin">
    <section class="header-main-fix">
        <nav class="navbar navbar-static-top navbar-expand-lg">
    
            <!-- User Account -->
            <div class="navbar-right ml-auto">
                <ul class="list-inline m-0 account-right-login">
                    <!-- -header-notification -->
                    <li class="list-inline-item dropdown header-notification">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="assets/images/notification.png" class="img-fluid" width="24px">
                            <span class="massage-number">2</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right p-0">
                            <li class="dropdown-menu-header ">
                                <h6 class="m-2">
                                    <span class="grey darken-2">Notification</span>
                                </h6>
                                <hr class="m-0">
                            </li>
                            <li class="dropdown-menu-header scrollable-container ps">
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <p class="media-heading m-0">Margaret Govan</p>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <p class="media-heading m-0">Margaret Govan</p>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <p class="media-heading m-0">Margaret Govan</p>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-menu-footer">
                                <hr class="m-0">    
                                <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all Notification</a>
                            </li>
                        </ul>
                    </li>  
                    <!-- -massage -->
                    <li class="list-inline-item dropdown header-massage">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="assets/images/massage.png" class="img-fluid" width="30px">
                            <span class="massage-number">2</span>
                        </a>
                         
    
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right p-0">
                            <li class="dropdown-menu-header ">
                                <h6 class="m-2">
                                    <span class="grey darken-2">Messages</span>
                                </h6>
                                <hr class="m-0">
                            </li>
                            <li class="dropdown-menu-header scrollable-container ps">
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <p class="media-heading m-0">Margaret Govan</p>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <p class="media-heading m-0">Margaret Govan</p>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="avatar avatar-sm avatar-online rounded-circle">
                                                <img src="https://dummyimage.com/50x50" class="img-circle" alt="User Image">
                                            </span>
                                        </div>
                                        <div class="media-body ml-3">
                                            <p class="media-heading m-0">Margaret Govan</p>
                                            <p class="notification-text m-0">I like your portfolio, let's start.</p><small>
                                            <time class="media-meta text-muted m-0"  datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-menu-footer">
                                <hr class="m-0">    
                                <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all Messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account -->
                    <li class="list-inline-item dropdown user-menu ">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="login-name fw_6">Ashish Gujarati</span>
                            <img src="assets/images/avtara.png" class="user-image ml-2" alt="User Image">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right p-0">                                     
                            <li class="">
                                <a href="#" class="d-flex">
                                    <span>
                                        <img src="assets/images/icons/user.svg" class="img-fluid" alt="">
                                    </span>
                                    <span class="ml-2">Profile </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="d-flex">
                                    <span>
                                        <img src="assets/images/icons/change_password.svg" class="img-fluid" alt="">
                                    </span>
                                    <span class="ml-2">Change Password </span>
                                </a>
                            </li>
                            <li>
                                <a href="login.html" class="d-flex">
                                    <span>
                                        <img src="assets/images/icons/logout.svg" class="img-fluid" alt="">
                                    </span>
                                    <span class="ml-2">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <!--  header-main area--> 
    
    <!-- page data area start -->
    <div class="pt-80">
        <div class="container-fluid ">
            <div class="page-navigation">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center text-center  ">
                            <div class="page-name">
                                <h6>Vessel Tracking</h6>
                            </div>
                            <div class="ml-auto box-breadcrumb"> 
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="" class="mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                            </svg>
                                        </a>
                                    </li>  
                                    <li class="breadcrumb-item active">Vessel Tracking</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Vessel  -->
                    <div class="pus-card">
                        <div class="pus-card-header d-block d-md-flex align-items-center text-center justify-content-between">
                            <div class="pus-card-title">
    
                                <label class="m-0">
                                    <input type="checkbox" class="book_VesselShow"> &nbsp; I have book Vessel
                                </label> 
                            </div> 
                        </div> 
                    </div>  
                    <!-- Customer Planning  -->
                    <div class="pus-card mt-20 VesselShow">
                        <div class="pus-card-header d-flex align-items-center text-center justify-content-between">
                            <div class="pus-card-title">
                                <h6>Book Vessel </h6>
                            </div>
                            <div class="pus-card-heading-elements">
                                <ul class="list-inline mb-0"> 
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0);" class="table-button-white-hover" data-toggle="tooltip" data-placement="top" title="Reset">
                                            <img src="assets/images/table-icons/reset.svg" class="img-fluid" alt="">
                                        </a>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                        <div class="pus-card-content collapse show"> 
                            <div class="row mb-1">   
                                <div class="col-md-12">                                            
                                    <div class="grid-4 form-grid-4">                                                 
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Name <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Name">
                                                
                                            </div>
                                        </div> 
                                         
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Tracking Info <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Tracking Info ">                                                        
                                            </div>
                                        </div> 
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Website <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Website">                                                        
                                            </div>
                                        </div> 
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Container No <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Container No">                                                        
                                            </div>
                                        </div> 
                                        <div class="form-grid-list">
                                            <div class="form-group">
                                                <label class="form-lbl" for=""> Shield No <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" placeholder="Shield No">                                                        
                                            </div>
                                        </div>  
                                            
                                    </div> 
                                    
                                </div>
                                <div class="col-md-12">
                                    <div class="text-center mt-3">
                                        <a href="" class="button-style ">Add Vessel</a>
                                    </div>
                                </div>
                                                                        
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
    
    <script src="assets/js/custom.js"></script> 
    
            <script type="text/javascript">
                $(".VesselShow").hide();
                $(".book_VesselShow").click(function() {
                    if($(this).is(":checked")) {
                        $(".VesselShow").show();
                    } else {
                        $(".VesselShow").hide();
                    }
                });
            </script>
            
</div>