/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~datatables.net-dt/css/jquery.dataTables.min.css";

@import "~flatpickr/dist/flatpickr.css";

@import "~assets/css/responsive.css";

@import "~assets/css/style.css";

@import "~assets/css/custom.css";

@import "~assets/plugins/mobilecode/intlTelInput.css";

@media only screen and (min-width: 992px){
/* @media (min-width: 992px){ */
    .leftmargin{
        margin-left:  60px;
    }
    body{
        width: 100%;
    }
}

body{
    overflow:auto;
}